<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618575523589-jvgr24df14plqpekkvg9ll4mgu996i9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618575523589-jvgr24df14plqpekkvg9ll4mgu996i9k</string>
	<key>API_KEY</key>
	<string>AIzaSyBoTM10fOhGU8r4TrZkQO3RLDRW81kInlg</string>
	<key>GCM_SENDER_ID</key>
	<string>618575523589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flowerRecognitionApplication</string>
	<key>PROJECT_ID</key>
	<string>bloc-altosh-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-altosh-authentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618575523589:ios:c728fbc768e4e0a7aa516c</string>
</dict>
</plist>